sources:
  demo_logs:
    type: {{ vector_type }}
    format: {{ vector_format }}
sinks:
  to_clickhouse:
    type: {{ vector_sinks_type }}
    inputs: {{ vector_sinks_inputs }}
    database: {{ vector_sinks_database }}
    table: {{ vector_sinks_table }}
    endpoint: {{ clickhouse_ip }}
    compression: gzip
    healthcheck: true
    skip_unknown_fields: true
